* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background-color: #122438;
    margin-bottom: 40px;

}

.point-details span{
    white-space: pre;

}

.grid-wrapper {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    font-weight: 300;
    align-items: center;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    min-height: 100%;
}

.main-container {
    display: grid;
    grid-column: 2/3;
    grid-row: 3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    text-align: justify;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
}

.form-control:disabled {
    background-color: inherit;
}